*~
*.o
*.a
*.so
*.so.*
*.dylib
*.dll
build/
dist/
*.egg-info/
__pycache__/
*.pyc
*.pyo
.idea/
.vscode/
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake
CMakeCache.txt
tests/*.json
tests/*.keyfile

tests/*.log

tests/*.ciphertext